<h2>新增文章</h2>
<%= simple_form_for [@group, @post] do |f| %>
	<%= f.input :content, input_html:{class: "form-control"} %>


	<%= f.submit "Submit", class: "btn btn-primary", data: {disable_with: "送出中..."} %>
	
<% end %>